# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
client/build/

# Environment variables
.env
.env.local
server/.env

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
